.header__link {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: $color-black;
	font-size: 28px;
}

.image_head {
	width: 100%;
	height: 300px;
	overflow: hidden;

	& img {
		width: 130%;
	}
}

.menu {
	margin-top: -50px;
	overflow: hidden;
	border-radius: 50px;
	background-color: $color-grey-very-light;
	padding: 30px 20px;

	display: flex;
	flex-direction: column;
	align-items: stretch;

	&__head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-weight: 400;

		& i {
			font-size: 28px;
		}
	}

	&__section {
		display: flex;
		flex-direction: column;

		&--titre {
			margin: 30px 0 0 0;
			font-weight: 400;
			font-size: 24px;
			position: relative;
			text-transform: uppercase;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 2px;
				bottom: -5px;
				width: 60px;
				border-bottom: 4px solid $color-tertiary;
			}
		}

		&--list {
			list-style: none;
			padding: 0;
			margin: 0;

			&-item {
				display: flex;
				justify-content: space-between;
				align-items: flex-end;
				position: relative;

				margin: 15px 0;
				padding: 10px;
				background-color: $color-white;
				border-radius: 10px;
				box-shadow: 0 4px 8px rgba($color-black, 0.2);
				font-weight: 700;
				opacity: 0;
				animation: fadeTranslateEntry 0.2s linear;
				animation-fill-mode: forwards;
				overflow: hidden;

				& .desc {
					width: 80%;
				}

				& p {
					margin: 0;
					margin-top: 5px;
					font-weight: 400;
					font-size: 14px;
					display: block;
					text-overflow: ellipsis;
				}

				& .price {
					transition: 0.5s;
				}

				& .selected-item {
					position: absolute;
					top: 0;
					bottom: 0;
					right: 0;
					width: 0;
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: 24px;
					color: white;
					border-bottom-right-radius: 10px;
					border-top-right-radius: 10px;
					background-color: #99e2d0;
					transition: 0.5s;
					z-index: 1000;

					& i {
						transform: translateX(20px);
						transition: 0.5s;
					}
				}

				&:hover {
					& .desc {
						animation: changeWidth 0.5s linear forwards;
					}

					& p {
						overflow: hidden;
						white-space: nowrap;
					}

					& .price {
						margin-right: 60px;
					}

					& .selected-item {
						width: 60px;

						& i {
							transform: translateX(0) rotate(360deg);
						}
					}
				}
			}
		}
	}
}

@media (min-width: 1400px) {
	.menu {
		&__section {
			&--titre {
				margin: 30px 0;
			}

			&--list {
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
				grid-gap: 10px;
				&-item {
					margin: 0;
				}
			}
		}
	}
}
