$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;

$color-black: black;

$color-grey-dark: #353535;
$color-grey-light2: #eaeaea;
$color-grey-light: #f6f6f6;

$color-white: white;
